.MuiAutocomplete-root {
    margin-top: 8px;
    margin-bottom: 25px;
    justify-self: center;
}

.options-dropdown {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}