.evaluatepart {
    justify-self: center;
    overflow: auto;
}

.evaluatepart-message {
    margin-top: 30px;
    margin-bottom: 10px;
}

.evaluation {
    max-width: 90%;
    justify-self: center;
}

.loading {
    margin-top: 30px;
}