.navbar-div {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-self: center;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: solid grey 3px;
    justify-content: center;
    background-color: #26293b;
}
.navbar {
    width: 95%;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-self: center;
    margin: 20px;
    border-radius: 9px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    overflow: auto;
}

.navbar > * > a, .navbar > * > * > a {
    color: white;
    font-size: 20px;
    border: #f1f1f1 solid 2px;
    padding: 6px;
    border-radius: 9px;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
    text-decoration: none;
    text-wrap: nowrap;
}

.navbar > * > a:hover, .navbar > * > * > a:hover {
    transform: scale(1.2);
    color: #26293b;
    background-color: white;
    text-decoration: none;
}

.navbar-pages {
    display: flex;
    flex-direction: row;
    gap: 45px;
    align-items: center;
    text-decoration: underline;
}

.navbar-user {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    position: relative;
    right: 0;
    gap: 45px;
}

.navbar-user > * > a {
    margin-left: 30px;
}

.navbar-user-loggedout {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    text-decoration: underline;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

a:hover {
    cursor: pointer;
}